* {
	margin: 0;
	padding: 0;
	font-family: "Arial", sans-serif;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background: #141212;
	color: #fff;
}

#header {
	width: 100%;
	height: 100vh;
	background-image: url(image/backgroud.png);
	background-size: cover;
	background-position: center;
}

.container {
	padding: 10px 10%;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.logo {
	transform: rotate(230deg);
	width: 100px;
}

nav ul li {
	display: inline-block;
	list-style: none;
	margin: 10px 20px;
}

nav ul li a {
	color: #ffff;
	text-decoration: none;
	font-size: 18px;
	position: relative;
}

nav ul li a::after {
	content: "";
	width: 0;
	height: 3px;
	background: #e31b59;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
}

nav ul li a:hover::after {
	width: 100%;
}

.header-text {
	margin-top: 20%;
	font-size: 30px;
}

.header-text h1 {
	margin-top: 20px;
	font-size: 60px;
}

.header-text h1 span {
	color: #e31b59;
}

/* about */
#about {
	padding: 80px 0;
	color: #ababab;
}

.row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.about-col-1 {
	flex-basis: 35%;
}

.about-col-1 img {
	width: 100%;
	border-radius: 15px;
}

.about-col-2 {
	flex-basis: 60%;
}

.sub-title {
	font-size: 60px;
	font-weight: 600;
	color: #fff;
}

.tab-title {
	display: flex;
	margin: 20px 0 40px;
}

.tab-links {
	margin-right: 50px;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	position: relative;
}

.tab-links::after {
	content: "";
	width: 0;
	height: 3px;
	background: #e31b59;
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;
}

.tab-links.active-link::after {
	width: 50%;
}

.tab-contents ul li {
	list-style: none;
	margin: 10px 0;
}

.tab-contents ul li span {
	color: #eb4c7e;
	font-size: 14px;
}

.tab-contents {
	display: none;
}

.tab-contents.active-tab {
	display: block;
}

#services {
	padding: 30px 0;
}

.services-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
}

.services-list div {
	background-color: #262626;
	padding: 40px;
	font-size: 13px;
	font-weight: 300;
	border-right: 10px;
	transition: background 0.3s, transform 0.5s;
}

.services-list div i {
	font-size: 50px;
	margin-bottom: 30px;
}

.services-list div h2 {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 15px;
}

.services-list div a {
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	margin-top: 20px;
	display: inline-block;
}

.services-list div:hover {
	background: #e31b59;
	transform: translateY(-10px);
}

.contact-left {
	flex-basis: 35%;
}

.contact-right {
	flex-basis: 60%;
}

.contact-left p {
	margin-top: 30px;
}

.contact-left p i {
	color: #e31b59;
	margin-right: 15px;
	font-size: 25px;
}

.social-icons {
	margin-top: 30px;
}

.social-icons a {
	text-decoration: none;
	font-size: 30px;
	margin-right: 15px;
	color: #ababab;
	display: inline-block;
	transition: transform 0.5s;
}

.social-icons a:hover {
	color: #e31b59;
	transform: translateY(-5px);
}

.btn.btn2 {
	display: inline-block;
	background: #e31b59;
}

.contact-right form {
	width: 100%;
}

form input,
form textarea {
	width: 100%;
	border: 0;
	outline: none;
	background: #1d1d1d;
	padding: 15px;
	margin: 10px 0;
	color: #fff;
	font-size: 18px;
	border-radius: 6px;
}

form .btn2 {
	padding: 14px 60px;
	font-size: 18px;
	margin-top: 20px;
	cursor: pointer;
}

.contact-right textarea {
	rows: 6;
}

.contact-right form .btn2 {
	display: block;
	margin-top: 20px;
}

.contact-right form .btn2:hover {
	background: #e31b59;
}

.contact-right form .btn2:active {
	transform: translateY(2px);
}

.contact-right form .btn2:focus {
	outline: none;
}

.contact-right textarea {
	height: 150px;
}

.contact-right textarea:focus {
	resize: none;
}

.contact-right input:focus {
	outline: none;
}

.contact-right form .btn2 {
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	transition: 0.2s ease;
}

.contact-right form .btn2:hover {
	background: #e31b59;
	transform: scale(1.05);
}

.contact-right form .btn2:active {
	transform: scale(0.98);
}

.contact-right form .btn2:focus {
	outline: none;
}

.contact-right form .btn2::before {
	content: "\f2ed";
	font-family: "Font Awesome 5 Free";
	font-size: 18px;
	margin-right: 8px;
	display: inline-block;
	position: relative;
	top: 1px;
}

.btn-submit {
  background-color: #4CAF50;
  color: #ffffff; 
  border: none; /* Hapus border tombol */
  padding: 10px 20px; /* Ruang padding untuk tombol */
  font-size: 16px; /* Ukuran font teks tombol */
  cursor: pointer; /* Tambahkan kursor tangan ketika mengarahkan ke tombol */
  transition: background-color 0.3s; /* Animasi perubahan warna latar belakang */
}

/* Gaya saat mengarahkan kursor ke tombol */
.btn-submit:hover {
  background-color: #45a049; /* Warna latar belakang saat mengarahkan kursor */
}

@media only screen and (max-width: 600px) {
	#header {
		background-image: url(image/);
	}
	.header-text {
		margin-top: 100%;
		font-size: 16px;
	}
	.header-text h1 {
		font-size: 30px;
	}
	nav .fa-solid {
		display: block;
		font-size: 25px;
	}
	nav ul {
		background: #e31b59;
		position: fixed;
		top: 0;
		right: -200px;
		width: 200px;
		height: 100vh;
		padding-top: 50px;
		z-index: 2;
		transition: right 0.5s;
	}

	nav ul li {
		display: block;
		margin: 25px;
	}

	nav ul .fa-solid {
		position: absolute;
		top: 25px;
		left: 25px;
		cursor: pointer;
	}

	.sub-title {
		font-size: 40px;
	}

	.about-col-1,
	.about-col-2 {
		flex-basis: 100%;
	}

	.about-col-1 {
		margin-bottom: 30px;
	}

	.about-col-2 {
		font-size: 14px;
	}

	.tab-links {
		font-size: 16px;
		margin-right: 20px;
	}

	.contact-left,
	.contact-right {
		flex-basis: 100%;
	}

	.contact-right textarea {
		rows: 4;
	}

	.contact-right form .btn2 {
		font-size: 16px;
	}

	.contact-right form .btn2::before {
		font-size: 16px;
	}
}
